@import 'reset';
$modra: rgb(20, 60, 110);
$pruhledna_modra: rgba(12, 60, 81, .7);
$svetle_modra: opacify(lighten($pruhledna_modra, 80%), 0.1);
$tmave_modra: darken($pruhledna_modra, 5%);
$small_width: 650px;
$small_table_width: 800px;
$transition_time: 500ms;
$uhel: 90deg;
$link_color: rgb(20, 60, 150);
body {
    font: 16px/1 "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(/static/images/Crop2_blur.jpg) no-repeat center center fixed; //background2_crop
    background-size: cover;
    position: relative;
}

h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    //font-size: 4vw;
    font-size: 2.4em;
    padding-bottom: 5vh;
    padding-top: 5vh
}

p {
    line-height: 1.5;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 10px;
}

strong {
    font-weight: 500;
    color: #333;
}

a {
    text-decoration: none;
    //letter-spacing: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid $link_color;
    color: $link_color;
    -webkit-transition: $transition_time;
    -moz-transition: $transition_time;
    -ms-transition: $transition_time;
    -o-transition: $transition_time;
    transition: $transition_time;
}

a:hover {
    //letter-spacing: 2px;
    color: lighten($link_color, 20%);
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

#wrapper {
    margin: 0 auto;
    max-width: 560px;
    padding: 160px 40px;
}

.tab {
    display: table;
    width: 100%;
}

.section {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 10% 0 10%;
}

#tab1 {
    background-color: $tmave_modra;
}

.linkCursor {
    cursor: pointer;
}

#section1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(/static/images/Crop2.jpg) no-repeat center center fixed; //background2_crop
    background-size: cover;
    height: 100vh;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    h1 {
        font-size: 2em;
        padding-top: 0;
        padding-bottom: 1em;
    }
    h2 {
        font-size: 1.3em;
    }
    #logo {
        width: 32em;
        display: block;
        margin: 0 auto;
    }
    .info {
        display: block;
        margin: auto;
        line-height: 1.8em;
        text-align: center;
        color: white;
    }
    #arrow {
        font-size: 600%;
        margin-top: 0.4em;
        cursor: pointer;
    }
    @media only screen and (max-width: $small_width) {
        font-size: 3.5vw;
        #logo {
            width: 85vw;
        }
        h1 {
            padding-top: 1em;
        }
    }
    @media print {
        display: none;
    }
}

#section2 {
    background-color: $svetle_modra;
    color: darken($modra, 5%);
    @media print {
        display: none;
    }
}

#section3 {
    display: block;
    padding: 8vh 2vw 8vh 2vw;
    background-color: $tmave_modra;
    color: lighten($modra, 90%);
    width: 100%;
    line-height: 120%;
    a {
        //PDF odkaz
        color: white;
        border: none;
        text-align: center;
        display: block;
    }
    td {
        display: block;
        padding: 0.5em 0.5em 0.5em 0.8em;
        @media print,
        (min-width: $small_table_width) {
            padding: 0.6em 1em 0.6em 0em;
        }
    }
    .harmonogram {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0.6em;
        width: 100%;
    }
    .label {
        font-weight: bold;
        font-size: 180%;
        padding: 1em 0 0.7em 0.35em;
    }
    .roomHeader {
        font-weight: bold;
        font-size: 150%;
        display: none;
        @media print,
        (min-width: $small_table_width) {
            display: table-cell;
        }
    }
    .time {
        font-weight: bold;
        font-size: 150%;
        padding-top: 1.2em;
        @media print,
        (min-width: $small_table_width) {
            font-weight: normal;
            font-size: 100%;
            padding-top: 0px;
        }
    }
    .room {
        //visibility: hidden;
    }
    .speaker {
        cursor: pointer;
        font-weight: bold;
    }
    .talk {
        cursor: pointer;
    }
    .invalid {
        cursor: default;
    }
    .missingText {
        //debugovací
        //color: rgb(255, 180, 180);
    }
    .firstCol {
        //border-right: 1px white solid;
        padding-right: 1em;
        padding-left: 0.7em;
    }
    .singleEvent {
        &:before {
            content: attr(roomName);
            font-weight: bold;
            // optional stuff to make it look nicer
            width: 4.5em;
            margin-left: -4.5em;
            display: inline-block;
            // end options
            @media print,
            (min-width: $small_table_width) {
                display: none;
            }
        }
        margin-left: 5em;
        @media print,
        (min-width: $small_table_width) {
            margin-left: 0;
        }
    }
    th,
    td {
        text-align: left;
        @media print,
        (min-width: $small_table_width) {
            display: table-cell;
        }
    }
    @media print {
        font-size: 53%;
        color: black;
        h1 {
            padding-top: 1em;
            &:before {
                content: "Symposion 2015 - ";
            }
        }
        a {
            display: none;
        }
    }
}

#section4 {
    h1 {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.2em;
        padding-top: 0vh;
    }
    background-color: $svetle_modra;
    color: darken($modra, 5%);
    #partners {
        //display: block;
        margin-left: auto;
        margin-right: auto;
        td {
            padding: 10px;
            display: block;
            @media print,
            (min-width: $small_table_width) {
                display: table-cell;
            }
            vertical-align: middle;
            text-align: center;
            max-width: 100%;
            white-space: nowrap;
        }
    }
    a {
        border: none;
    }
    #prahazdarma {
        font-size: 200%;
        font-weight: bold;
    }
    #goout {
        width: 150px;
        height: 150px;
    }
    @media print {
        display: none;
    }
}

#modal {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: $transition_time;
    -moz-transition: $transition_time;
    -ms-transition: $transition_time;
    -o-transition: $transition_time;
    transition: $transition_time;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5% 10% 5% 10%;
    line-height: 145%;
    background-color: rgba(255, 255, 255, 0.97);
    color: black;
    z-index: 12;
    overflow-y: scroll;
    text-align: justify;
    @mixin title {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-align: left;
        line-height: 140%;
        padding-top: 0;
        padding-bottom: 0;
    }
    h1 {
        @include title;
        font-size: 200%;
        margin-bottom: 1em;
        margin-top: 0em;
    }
    h2 {
        //jinak nebude diakritika
        @include title;
        font-size: 120%;
        margin-bottom: 0.2em;
        margin-top: 2em;
    }
    h3 {
        @include title;
        font-size: 100%;
        margin-bottom: 0em;
        margin-top: 1em;
    }
    p {
        margin: 0.5em 0 0 0;
    }
    .speakername {
        font-weight: bold;
    }
    .speakerdesc {}
    .talkname {}
    li {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
}

.noscroll {
    overflow: hidden;
}

#cross {
    margin-left: 95%;
    margin-bottom: 10px;
    width: 10%;
    max-width: 50px;
    -webkit-transition: $transition_time;
    -moz-transition: $transition_time;
    -ms-transition: $transition_time;
    -o-transition: $transition_time;
    transition: $transition_time;
}

#cross:hover {
    -webkit-transform: rotate($uhel);
    -moz-transform: rotate($uhel);
    -ms-transform: rotate($uhel);
    -o-transform: rotate($uhel);
    transform: rotate($uhel);
}
